[acme-proxy] {% if change == "password" %}password changed{% elif change == "second_factor_enabled" %}second factor enabled{% elif change == "second_factor_disabled" %}second factor removed{% else %}recovery codes regenerated{% endif %} for "{{ username }}"
